{% extends 'base.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block content %}
    <h1>Ajouter une nouvelle réclamation </h1>
  {{ include('reclamation/_form.html.twig') }}

    <a href="{{ path('app_reclamation_index') }}">Revenir à la liste</a>

    {% include 'footer.html.twig' %}
{% endblock %}
